body{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color:rgb(57, 57, 57);
    flex: 1 0 auto;
}
p, b{
    text-align: center;
    color: #ff6f61;
    font-size: 100px;
}
footer{
    background-color: rgb(44, 44, 44);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
div > a{
    font-size:20px;
    color:#ff8c82 !important;
}
div.kolor{
    color: #ff6f61;
    font-size:16px;
}