body{
    background-color: rgb(33, 33, 45);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
p{
    text-align: center;
    color: #ff6f61;
    font-weight: bold;
    text-shadow: none;
}
.hover:hover{
    text-shadow: rgb(0, 0, 0) 2px 0 10px;
    transition: text-shadow 0.2s;
}
.big{
    font-size: 60px;
}